#d3_selectable_force_directed_graph svg {
    border: 1px solid;
}

.link line {
  stroke: #999;
  stroke-opacity: 0.6;
}

text {
  font-family: sans-serif;
  pointer-events: none;
}

.selected circle{
	stroke:black;
}

.selected .labels {
	opacity:1 !important;
}